body {
  color: #555;
  background: #fff;
  font-size: 13px;
}

#header {
  min-height: 45px;
  background: #78a300;
  font-family: 'Arial', sans-serif;

  .navbar-brand {
    height: auto;
    color: #fff;
    padding: 12px 15px;
    margin-right: 35px;
  }

  .btn-nav {
    display: inline-block;
    margin: 6px 15px 0 0;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
    background: #95be22;
    border-radius: 4px 4px 0 0;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;

    &:hover {
      background: #8eb520;
      text-decoration: none;
    }
  }

  .search-bar {
    margin: 6px 0;
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid #527000;
  }

  ul.navbar-right {
    margin: 6px 0;

    .user-avatar {
      margin-right: 10px;

      img {
        margin-right: 3px;
        border-radius: 3px;
        border: 1px solid #527000;
      }

      span {
        color: #fff;
        opacity: 0.5;
      }
    }

    .create-listing {
      color: #fff;
      display: block;
      padding: 5px 20px;
      border-radius: 3px;
      background-color: #fda028;
      border: 1px solid #527000;
    }

    &:hover span {
      opacity: 1;
    }
  }

  .open > a {
    background: transparent;

    span {
      opacity: 1 !important;
    }
  }
}


#mobile-header {
  height: 75px;
  padding: 5px 0;
  background: #78a300;

  .logo {
    color: #fff;
    padding: 3px 0;
    font-size: 15px;
    font-weight: bold;
  }

  .search-bar {
    width: 100%;
    margin: 5px 0 0 0;
    padding: 5px 12px;
    border-radius: 4px;
    border: 1px solid #527000;
  }
}


.breadcrumb-nav {
  font-size: 12px;
  margin: 0;
  padding: 11px 15px;
  background: #fbfbfb;
  border-bottom: 1px solid #dcdcdc;

  ol.breadcrumb {
    margin: 0;
    padding: 0;
    background-color: transparent;
  }
}

#hero {
  height: 550px;
  color: #fff;
  background: #44a048;
  border-top: 1px solid rgba(255,255,255,.1);
  border-bottom: 1px solid rgba(0,0,0,.1);
}

#hero.green {
  background-image: linear-gradient(to bottom, rgba(68,160,72,.6)0, rgba(68,160,72,.6)100%), url('/assets/images/hero-bg.jpg');
  background-position: -100px -10px;
  background-size: 120% 120%;
  padding-top: 150px;

  h2 {
    margin: 0;
    padding: 0;
    font-size: 32px;
    font-weight: 300;

    span {
      font-weight: 400;
    }
  }
}

.box {
  padding: 15px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #d5d5d5;
}

h1, h2, h3 {
  font-family: 'Helvetica Neue', sans-serif;
}

a {
  color: #2c84cc;

  &:hover {
    color: #016da3;
  }
}

.btn-default,
.btn-primary,
.btn-danger {
  padding: 8px 15px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-shadow: none;
  box-shadow: none;

  &:hover {
    background: #fff;
    border-color: #aaa;
    text-decoration: none;
  }
}

.btn-primary {
  color: #fff;
  background: #2c84cc;
  border-color: #2c84cc;

  &:hover {
    background: #016da3;
    border-color: #016da3;
  }
}

.btn-danger {
  color: #fff;
  background: #e83a30;
  border-color: #e83a30;
}

.footer {
  height: 180px;
  background: #333;
}

@media(min-width: 768px) {
  #header {
    height: 45px;
  }

  #mercadera-logo {
    margin-bottom: 0px;
  }

  #header .search-bar{
    width: 180px;
  }
}

@media(min-width: 992px) {
  #header .search-bar {
    width: 380px;
  }
}

@media(min-width: 1200px) {
  #header .search-bar {
    width: 530px;
  }
}
