.top-section {
	padding: 25px 0 0;
	margin-bottom: 25px;
	background-color: #f0f0f0;
	border-bottom: 1px solid #d5d5d5;

	h2.title {
		padding: 0;
		margin: 0 0 25px 0;
		font-size: 30px;
		font-weight: bold;
	}

	ul.nav-tabs {
		border-bottom: none;

		li > a {
			font-weight: bold;
			-webkit-font-smoothing: antialiased;

			i.fa {
				margin-right: 3px;
			}

			&:hover {
				background-color: #e5e5e5;
				border-color: #d5d5d5;
				border-bottom-color: #d5d5d5;
			}
		}

		li.active > a {
			color: #555;
			background: #fff;
			border-color: #d5d5d5;
			border-bottom-color: transparent;
		}
	}
}


#overview {
	.image-gallery {
		padding: 15px;
		margin: 0 0 20px 0;
		border-radius: 5px;
		background-color: #f5f5f5;
		border: 1px solid #ddd;

		img {
			padding: 5px;
			border-radius: 3px;
			background-color: #fafafa;
			box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	  		border: 1px solid rgba(0,0,0,0.1);
		}

		.thumbnail-strip > .item {
			margin-bottom: 10px;

			img {
				margin: 0 auto;
			}
		} 
	}

	.description-heading {
		border-bottom: 1px solid #d4d4d4;
		font-size: 18px;
		line-height: 27px;
		color: #555;
		padding-bottom: 10px;
		font-weight: normal;
	}

	.product-description {
		font-size: 15px;
	}
}


#gallery img {
	padding: 5px;
	border-radius: 3px;
	background-color: #fafafa;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	border: 1px solid rgba(0,0,0,0.1);
	margin: 0 auto 15px;
}


#comments {
	.media {
		margin: 0 0 25px 0;

		.media-left {
			padding-right: 15px;
		}

		img {
			border-radius: 3px;
		}

		.media-body .media-heading {
			font-size: 14px;
		}

		.media-body .media {
			margin-top: 15px;
		}

		.media-body .comment-bubble {
			padding: 15px 20px;
			border-radius: 3px;
			background: #f5f5f5;
		}
	}

	.media:last-child {
		margin-bottom: 0;
	}

	.new-comment {
		margin-bottom: 0;

		.media-body .comment-bubble {
			padding: 0;
			background: #fff;

			.btn-primary {
				display: inline-block;
			}

			textarea {
				width: 100%;
				font-size: 14px;
				border-radius: 5px;
				border: 1px solid #d5d5d5;
				box-shadow: inset 0 0 1px 0 #ddd;
				padding: 10px 15px;
				margin-bottom: 5px;
				outline: none;

				&:hover {
					border-color: #999;
				}

				&:focus {
					border-color: #2c84cc;
				}
			}
		}
	}
}


// ---------------- SIDE CONTENT ----------------


@media(min-width: 1px) {
	.social-share {
		margin: 0 0 15px 0;
	}
}

@media(min-width: 992px) {
	.social-share {
		margin: -120px 0 15px 0;
	}
}

.attributes {
	padding-top: 10px;
	padding-bottom: 0;

	h3.price {
		margin: 0;
		padding: 10px;
		color: #78a300;
		font-size: 34px;

		span.currency {
			font-size: 28px;
			font-weight: 300;
			margin-right: 5px;
		}
	}

	table {
		font-size: 15px;

		tbody > tr:first-child > td {
			border-color: transparent;
		}

		tbody > tr > td {
			padding: 10px 15px;
		}

		tbody > tr > td.price-label {
			vertical-align: middle;
		}

		tbody > tr > td.price {
			color: #78a300;
			font-size: 30px;
			font-weight: 500;
		}

		.attribute-name {
			width: 160px;
			font-weight: bold;
		}
	}
}


.product-owner {
	.media-left {
		padding-right: 15px;

		.avatar {
			border-radius: 3px;
		}
	}

	h4 {
		font-size: 16px;
		font-weight: bold;
		-webkit-font-smoothing: antialiased;
	}

	.member-since,
	.owner-listings {
		color: #777;
		font-size: 13px;
		
		strong {
			color: #555;
		}
	}
}


.product-disclaimer {
	color: #999;
}